.footer-page {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $color-black;
  color: $color-white;
  padding: 15px 40px;
  @extend %black-link;

  .social-container {
    flex: 1;
    text-align: left;
    .social-list li {
      margin-bottom:0;
    }
    p {
      font-size: 0.85em;
      opacity: 0.8;
      margin:0;
    }
  }
  .copyright-container {
    flex: 1;
    text-align: right;
    letter-spacing: 0;
  }

  .copyright {
      margin: 0;

      a {

        &:first-child::before,
        &:first-child::after {
          content: " - ";
          color: #FFF;
        }
      }
  }
}
.footer-1 {
  .social-container p.copyright {
    font-size: 0.75rem;
    margin-top: 15px;
    letter-spacing: 0;
  }
  .newsletter-container {
    display: flex;
    text-align: left;
    letter-spacing: 1px;
  }
  .newsletter-txt {
    padding-right:30px;
    p {
      font-size: 0.75rem;
      letter-spacing: 1px;
      line-height: 1.5;
    }
    strong {
      font-size: 1.15rem;
      color: $color-iv-2;
    }
  }

  .newsletter-form {
    width: 300px;

    .input-mail {
      width: 240px;

      vertical-align: middle;
    }
    input[type="email"] {
      border-bottom-color: $color-iv-2;
      background: transparent;
      border: 1px solid $color-iv-2;
      padding: 8px;
      font-family:'Lato';
      color: #FFF;
      font-size: .95rem;
      letter-spacing:1px;
      border-radius: 12px;
    }
  }
  .submit-input {
    margin-left: 15px;
    border: 1px solid $color-iv-2;
    background-color: $color-iv-2;
    color: #FFF;
    font-family: "icons";
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all 0.2s ease-in;

    &:hover {
      cursor: pointer;
      background-color: transparent;
      color: $color-iv-2;
    }
  }
  .newsletter-msg {
    font-size: .85rem;
    letter-spacing: 1px;
    display: block;
    margin-top: 5px;
    &.ok {
      color: #a4ee72;
    }
    &.nook {
      color: #ed281f;
    }
    &:empty {
      display: none;
    }
  }

}