@keyframes appear {
  0% {
    opacity:0;
    transform: translateY(20px);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes linebottom {
  0% {
    opacity:0;
    width: 0;
  }
  100% {
    opacity:1;
    width: 10%;
  }
}