/* line 2, ../sass/abstracts/_placeholder.scss */
.col-2::after, .header-site::after, .infos-contact address {
  content: '';
  display: table;
  clear: both; }

/* line 13, ../sass/abstracts/_placeholder.scss */
.logo, .logo .logo-icon, .logo .logo-txt, .nav-site .menu li {
  display: inline-block;
  vertical-align: middle; }

/* line 22, ../sass/abstracts/_placeholder.scss */
.footer-page a, .footer-page a:visited {
  color: #31CDFF; }

/* line 27, ../sass/abstracts/_placeholder.scss */
.sct-split .split-box-img, .sct-split .split-box-content {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 48, ../sass/abstracts/_placeholder.scss */
.txt-content-style h2::after, .home-sct-split h2::after {
  content: "";
  display: block;
  margin: 10px auto 0;
  width: 30px;
  height: 2px; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 7, ../sass/vendor/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/vendor/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 32, ../sass/vendor/_reset.scss */
body {
  line-height: 1; }

/* line 35, ../sass/vendor/_reset.scss */
ol, ul {
  list-style: none; }

/* line 38, ../sass/vendor/_reset.scss */
li {
  display: inline-block;
  vertical-align: middle; }

/* line 42, ../sass/vendor/_reset.scss */
a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

/* line 46, ../sass/vendor/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 49, ../sass/vendor/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 54, ../sass/vendor/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 58, ../sass/vendor/_reset.scss */
strong {
  font-weight: bold; }

/* line 1, ../sass/base/_base.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none; }

/* line 9, ../sass/base/_base.scss */
body {
  color: #343434;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Lato', helvetica, sans-serif;
  text-align: center;
  letter-spacing: 2px; }

/* line 17, ../sass/base/_base.scss */
h1, h2 {
  font-family: 'Montserrat', sans-serif; }

/*-----------------------------------------------
  # TEMPLATE
-----------------------------------------------*/
/* line 25, ../sass/base/_base.scss */
.vertical-nav {
  position: fixed;
  right: 15px;
  z-index: 9999;
  width: 40px;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 34, ../sass/base/_base.scss */
  .vertical-nav .point-list {
    margin: 0;
    padding: 0; }
    /* line 38, ../sass/base/_base.scss */
    .vertical-nav .point-list li {
      display: block;
      height: 40px;
      width: 40px; }
    /* line 44, ../sass/base/_base.scss */
    .vertical-nav .point-list .bullets {
      display: block;
      margin: 0 auto;
      padding: 10px;
      text-align: center; }
      /* line 50, ../sass/base/_base.scss */
      .vertical-nav .point-list .bullets::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 4px solid transparent;
        background-color: #999999;
        -webkit-transition: all 0.2s linear;
                transition: all 0.2s linear; }
      /* line 62, ../sass/base/_base.scss */
      .vertical-nav .point-list .bullets:hover::before, .vertical-nav .point-list .bullets.active-point::before {
        width: 13px;
        height: 13px;
        background-color: #FFFFFF;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }

/* line 77, ../sass/base/_base.scss */
.sct-entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  line-height: 1.3; }
  /* line 91, ../sass/base/_base.scss */
  .sct-entry .slogan-container h1, .sct-entry .slogan-container .slogan-title {
    font-size: 3.5em;
    font-weight: bold;
    -webkit-animation: appear .6s 0.85s forwards;
            animation: appear .6s 0.85s forwards;
    opacity: 0;
    margin: 0 0 1em; }
    /* line 98, ../sass/base/_base.scss */
    .sct-entry .slogan-container h1::after, .sct-entry .slogan-container .slogan-title::after {
      content: "";
      width: 0;
      display: block;
      border-bottom: 4px solid #FF4B7C;
      margin: 0 auto;
      -webkit-animation: linebottom .3s 1.45s forwards;
              animation: linebottom .3s 1.45s forwards; }
  /* line 108, ../sass/base/_base.scss */
  .sct-entry .slogan-container p, .sct-entry .slogan-container .slogan-txt {
    font-size: 1.25em;
    -webkit-animation: appear .3s 2.25s forwards;
            animation: appear .3s 2.25s forwards;
    opacity: 0; }
  /* line 116, ../sass/base/_base.scss */
  .sct-entry .scroll-container {
    padding: 20px 20px 80px;
    position: relative;
    -webkit-animation: appear .3s 4s forwards;
            animation: appear .3s 4s forwards;
    opacity: 0
    /* ARROW SCROLL */ }
    /* line 132, ../sass/base/_base.scss */
    .sct-entry .scroll-container .scroll-txt {
      font-size: 1.25em; }
    /* line 135, ../sass/base/_base.scss */
    .sct-entry .scroll-container .scroll-calltoaction {
      cursor: pointer;
      height: 40px;
      width: 60px;
      margin: 0px 0 0 -40px;
      line-height: 60px;
      position: absolute;
      left: 50%;
      bottom: 15px;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
      background-size: contain;
      background-repeat: no-repeat;
      color: #FFF;
      text-align: center;
      font-size: 70px;
      z-index: 100;
      text-decoration: none;
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
      /*-webkit-animation: ca3_fade_move_down 1.5s linear infinite;*/
      /*-moz-animation:    ca3_fade_move_down 1.5s linear infinite;*/
      -webkit-animation: ca3_fade_move_down 1.5s ease-in infinite;
              animation: ca3_fade_move_down 1.5s ease-in infinite; }
    /* line 159, ../sass/base/_base.scss */
    .sct-entry .scroll-container [data-ca3_icon]::before {
      font-weight: normal;
      content: attr(data-ca3_icon);
      font-family: "ETmodules"; }

/* line 170, ../sass/base/_base.scss */
.sct-split {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  /* line 175, ../sass/base/_base.scss */
  .sct-split .split-box-img {
    overflow: hidden; }
    /* line 179, ../sass/base/_base.scss */
    .sct-split .split-box-img img {
      height: 100%;
      object-fit: cover; }
  /* line 189, ../sass/base/_base.scss */
  .sct-split .split-container {
    width: 680px;
    max-width: 100%;
    padding: 20px; }

/* line 198, ../sass/base/_base.scss */
.txt-content-style {
  line-height: 1.3; }
  /* line 202, ../sass/base/_base.scss */
  .txt-content-style h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0 0 2rem;
    letter-spacing: 2px; }
    /* line 208, ../sass/base/_base.scss */
    .txt-content-style h1::after {
      content: "";
      display: block;
      margin: 10px auto 0;
      width: 50px;
      height: 2px;
      background-color: #FF4B7C; }
  /* line 218, ../sass/base/_base.scss */
  .txt-content-style h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0 0 2rem;
    letter-spacing: 2px; }
    /* line 224, ../sass/base/_base.scss */
    .txt-content-style h2::after {
      background-color: #31CDFF; }
  /* line 230, ../sass/base/_base.scss */
  .txt-content-style strong {
    font-weight: bold; }
  /* line 233, ../sass/base/_base.scss */
  .txt-content-style p {
    margin: 0 0 1.5em; }
  /* line 236, ../sass/base/_base.scss */
  .txt-content-style .split-subtitle {
    font-weight: bold;
    font-size: 1.5em; }
  /* line 240, ../sass/base/_base.scss */
  .txt-content-style .space-after {
    margin-bottom: 2.5em; }
  /* line 244, ../sass/base/_base.scss */
  .txt-content-style ul {
    text-align: left; }
    /* line 247, ../sass/base/_base.scss */
    .txt-content-style ul li {
      margin-bottom: 1em; }
      /* line 250, ../sass/base/_base.scss */
      .txt-content-style ul li::before {
        content: "";
        display: inline-block;
        margin-right: 20px;
        width: 12px;
        height: 12px;
        background-color: #118BB2; }

/* line 267, ../sass/base/_base.scss */
.social-list {
  margin: 0; }
  /* line 270, ../sass/base/_base.scss */
  .social-list li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px; }
  /* line 275, ../sass/base/_base.scss */
  .social-list .social-link {
    display: block;
    position: relative;
    width: 35px;
    height: 35px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    background: transparent;
    -webkit-transition: background 0.2s, color 0.2s;
            transition: background 0.2s, color 0.2s;
    border: 1px solid; }
    /* line 287, ../sass/base/_base.scss */
    .social-list .social-link::after {
      content: "";
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-sizing: content-box;
      top: -7px;
      left: -7px;
      padding: 7px;
      -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
              transition: transform 0.2s, opacity 0.2s;
      -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
              transform: scale(0.8);
      opacity: 0; }
    /* line 302, ../sass/base/_base.scss */
    .social-list .social-link:hover {
      background: white;
      color: #343434;
      border-color: #FFFFFF; }
    /* line 307, ../sass/base/_base.scss */
    .social-list .social-link:hover::after {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      opacity: 1; }
    /* line 312, ../sass/base/_base.scss */
    .social-list .social-link span {
      display: none; }
  /* line 316, ../sass/base/_base.scss */
  .social-list .social-twitter {
    border-color: #0077B5;
    color: #0077B5; }
    /* line 14, ../sass/abstracts/_mixins.scss */
    .social-list .social-twitter a::after {
      box-shadow: 0 0 0 4px #0077B5; }
  /* line 319, ../sass/base/_base.scss */
  .social-list .social-facebook {
    border-color: #3B5998;
    color: #3B5998; }
    /* line 14, ../sass/abstracts/_mixins.scss */
    .social-list .social-facebook a::after {
      box-shadow: 0 0 0 4px #3B5998; }
  /* line 322, ../sass/base/_base.scss */
  .social-list .social-linkedin {
    border-color: #1DA1F2;
    color: #1DA1F2; }
    /* line 14, ../sass/abstracts/_mixins.scss */
    .social-list .social-linkedin a::after {
      box-shadow: 0 0 0 4px #1DA1F2; }

@font-face {
  font-family: 'puzzle';
  src: url("../fonts/logo/puzzle.eot?jn6djm");
  src: url("../fonts//logopuzzle.eot?jn6djm#iefix") format("embedded-opentype"), url("../fonts/logo/puzzle.ttf?jn6djm") format("truetype"), url("../fonts/logo//puzzle.woff?jn6djm") format("woff"), url("../fonts/logo/puzzle.svg?jn6djm#puzzle-font") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons/icons.eot?qmyu91");
  src: url("../fonts/icons/icons.eot?qmyu91#iefix") format("embedded-opentype"), url("../fonts/icons/icons.ttf?qmyu91") format("truetype"), url("../fonts/icons/icons.woff?qmyu91") format("woff"), url("../fonts/icons/icons.svg?qmyu91#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 23, ../sass/base/_fonts.scss */
[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 39, ../sass/base/_fonts.scss */
.icon-enveloppe::before {
  content: "\e93c"; }

/* line 42, ../sass/base/_fonts.scss */
.icon-objet::before {
  content: "\e942"; }

/* line 45, ../sass/base/_fonts.scss */
.icon-accompagnement::before {
  content: "\e904"; }

/* line 48, ../sass/base/_fonts.scss */
.icon-analysenoir::after {
  content: "\e905";
  font-family: 'icons' !important;
  font-weight: normal; }

/* line 53, ../sass/base/_fonts.scss */
.icon-arobase::before {
  content: "\e917"; }

/* line 56, ../sass/base/_fonts.scss */
.icon-batimententreprise::before {
  content: "\e918"; }

/* line 59, ../sass/base/_fonts.scss */
.icon-bonhomme::before {
  content: "\e925"; }

/* line 62, ../sass/base/_fonts.scss */
.icon-candidature::before {
  content: "\e906"; }

/* line 65, ../sass/base/_fonts.scss */
.icon-conseil::before {
  content: "\e92f"; }

/* line 68, ../sass/base/_fonts.scss */
.icon-ds::before {
  content: "\e930"; }

/* line 71, ../sass/base/_fonts.scss */
.icon-formation::before {
  content: "\e943"; }

/* line 74, ../sass/base/_fonts.scss */
.icon-guide::before {
  content: "\e944"; }

/* line 77, ../sass/base/_fonts.scss */
.icon-ksako::before {
  content: "\e945"; }

/* line 80, ../sass/base/_fonts.scss */
.icon-message::before {
  content: "\e946"; }

/* line 84, ../sass/base/_fonts.scss */
.icon-progres::after {
  content: "\e948";
  font-family: 'icons' !important;
  font-weight: normal; }

/* line 89, ../sass/base/_fonts.scss */
.icon-tel::before {
  content: "\e949"; }

/* line 92, ../sass/base/_fonts.scss */
.icon-arrow-right::before {
  content: "\e903"; }

/* line 95, ../sass/base/_fonts.scss */
.icon-facebook::before {
  content: "\e902";
  margin-left: 2px; }

/* line 99, ../sass/base/_fonts.scss */
.icon-twitter::before {
  content: "\e900";
  margin-left: 2px; }

/* line 103, ../sass/base/_fonts.scss */
.icon-linkedin::before {
  content: "\e901";
  margin-left: 2px; }

/* line 9, ../sass/base/_helpers.scss */
.col-2 .input-field {
  float: left;
  width: 45%; }
  /* line 13, ../sass/base/_helpers.scss */
  .col-2 .input-field:first-child {
    margin-right: 2.5%; }
  /* line 16, ../sass/base/_helpers.scss */
  .col-2 .input-field:last-child {
    margin-left: 2.5%; }

/* line 21, ../sass/base/_helpers.scss */
.input-field {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-top: 20px;
  margin-bottom: 8px; }
  /* line 28, ../sass/base/_helpers.scss */
  .input-field::after {
    font-family: 'icons';
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 2rem; }
  /* line 36, ../sass/base/_helpers.scss */
  .input-field + span {
    font-weight: 500;
    font-size: 0.75rem; }
  /* line 41, ../sass/base/_helpers.scss */
  .input-field input[type="text"],
  .input-field input[type="email"],
  .input-field input[type="tel"],
  .input-field input[type="url"],
  .input-field select,
  .input-field textarea {
    width: 100%;
    display: block;
    padding: 0px 30px 5px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #343434;
    background-color: transparent;
    font-size: 1.15rem;
    position: relative;
    z-index: 2; }
    /* line 60, ../sass/base/_helpers.scss */
    .input-field input[type="text"]:focus,
    .input-field input[type="email"]:focus,
    .input-field input[type="tel"]:focus,
    .input-field input[type="url"]:focus,
    .input-field select:focus,
    .input-field textarea:focus {
      border-bottom: 2px solid #118BB2;
      outline: none; }
    /* line 64, ../sass/base/_helpers.scss */
    .input-field input[type="text"]:focus + .label-field, .input-field input[type="text"] + .label-field.active,
    .input-field input[type="email"]:focus + .label-field,
    .input-field input[type="email"] + .label-field.active,
    .input-field input[type="tel"]:focus + .label-field,
    .input-field input[type="tel"] + .label-field.active,
    .input-field input[type="url"]:focus + .label-field,
    .input-field input[type="url"] + .label-field.active,
    .input-field select:focus + .label-field,
    .input-field select + .label-field.active,
    .input-field textarea:focus + .label-field,
    .input-field textarea + .label-field.active {
      -webkit-transform: translateY(-190%);
          -ms-transform: translateY(-190%);
              transform: translateY(-190%);
      font-size: 0.75rem;
      letter-spacing: 0;
      color: #118BB2; }
  /* line 72, ../sass/base/_helpers.scss */
  .input-field .label-field {
    position: absolute;
    z-index: 1;
    bottom: 8px;
    left: 0px;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 0.7;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out; }
  /* line 85, ../sass/base/_helpers.scss */
  .input-field textarea {
    min-height: 80px;
    font-family: 'Lato'; }
    /* line 88, ../sass/base/_helpers.scss */
    .input-field textarea:focus + .label-field, .input-field textarea + .label-field.active {
      -webkit-transform: translateY(-630%);
          -ms-transform: translateY(-630%);
              transform: translateY(-630%); }

/* line 95, ../sass/base/_helpers.scss */
.input-name::after, .input-firstname::after {
  content: "\e925"; }

/* line 100, ../sass/base/_helpers.scss */
.input-email::after {
  content: "\e917"; }

/* line 105, ../sass/base/_helpers.scss */
.input-tel::after {
  content: "\e949"; }

/* line 110, ../sass/base/_helpers.scss */
.input-url::after {
  content: "\e901"; }

/* line 115, ../sass/base/_helpers.scss */
.textarea-message::after {
  content: "\e946"; }

/* line 120, ../sass/base/_helpers.scss */
.select-object::after {
  content: "\e942";
  z-index: 80;
  background-color: #FFF;
  padding: 5px;
  bottom: 1px; }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@-webkit-keyframes linebottom {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    width: 20%; } }
@keyframes linebottom {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    width: 20%; } }
@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px); }
  50% {
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px); }
  100% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px); } }
@keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px); }
  50% {
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px); }
  100% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px); } }
@-webkit-keyframes screen_out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }
@keyframes screen_out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }
@-webkit-keyframes screen_in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@keyframes screen_in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
/* line 1, ../sass/components/_buttons.scss */
.btn-page {
  padding: 9px 22px;
  border-radius: 14px;
  color: #FFFFFF !important;
  display: inline-block;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
  /* line 7, ../sass/components/_buttons.scss */
  .btn-page::before {
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px; }

/* line 15, ../sass/components/_buttons.scss */
.btn-recrutement {
  position: fixed;
  z-index: 9999;
  bottom: 76px;
  right: 0;
  background-color: #31CDFF;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 14px 0 0 14px; }

/* line 25, ../sass/components/_buttons.scss */
.btn-start {
  margin-top: 10px;
  background-color: #118BB2;
  text-transform: uppercase;
  font-weight: bold;
  border: none; }

/* line 32, ../sass/components/_buttons.scss */
.btn-start:visited {
  color: #FFFFFF; }

/* line 35, ../sass/components/_buttons.scss */
.btn-send-answer {
  background-color: #118BB2;
  border: none;
  font-size: 1.5em;
  font-weight: 300;
  font-family: 'Lato'; }

/* line 42, ../sass/components/_buttons.scss */
.btn-ds, .btn-ee {
  border: 1px solid;
  margin: 15px 20px;
  background-color: rgba(0, 0, 0, 0.5); }
  /* line 46, ../sass/components/_buttons.scss */
  .btn-ds:hover strong, .btn-ee:hover strong {
    color: #FFFFFF; }

/* line 50, ../sass/components/_buttons.scss */
.btn-ds {
  border-color: #FF4B7C; }
  /* line 52, ../sass/components/_buttons.scss */
  .btn-ds strong {
    color: #FF4B7C; }
  /* line 55, ../sass/components/_buttons.scss */
  .btn-ds:hover {
    background-color: #FF4B7C; }

/* line 60, ../sass/components/_buttons.scss */
.btn-ee {
  border-color: #31CDFF; }
  /* line 62, ../sass/components/_buttons.scss */
  .btn-ee strong {
    color: #31CDFF; }
  /* line 65, ../sass/components/_buttons.scss */
  .btn-ee:hover {
    background-color: #31CDFF; }

/* line 3, ../sass/layout/_header.scss */
.header-site {
  background-color: #343434;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 15px 40px;
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
  text-align: left; }

/* line 22, ../sass/layout/_header.scss */
.logo .logo-icon {
  position: relative;
  width: 38px;
  height: 38px;
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
  /* line 28, ../sass/layout/_header.scss */
  .logo .logo-icon [class^="logo-part-"] {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; }
  /* line 35, ../sass/layout/_header.scss */
  .logo .logo-icon .logo-part-1 {
    -webkit-animation: spin 15s linear infinite;
            animation: spin 15s linear infinite; }
  /* line 38, ../sass/layout/_header.scss */
  .logo .logo-icon .logo-part-2 {
    -webkit-animation: spin 15s linear infinite reverse;
            animation: spin 15s linear infinite reverse; }
/* line 44, ../sass/layout/_header.scss */
.logo:hover .logo-icon {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2); }
/* line 48, ../sass/layout/_header.scss */
.logo .logo-txt {
  font-size: 2em;
  margin: 0;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none; }
  /* line 58, ../sass/layout/_header.scss */
  .logo .logo-txt span {
    display: none; }
  /* line 62, ../sass/layout/_header.scss */
  .logo .logo-txt::before {
    content: "\70";
    font-size: 1.35em;
    color: #FFFFFF;
    font-family: "puzzle", Helvetica, sans-serif;
    margin-left: 10px; }

/* line 72, ../sass/layout/_header.scss */
.nav-site {
  float: right;
  margin: 0;
  height: 42px; }
  /* line 77, ../sass/layout/_header.scss */
  .nav-site .menu {
    margin-top: 3px; }
    /* line 80, ../sass/layout/_header.scss */
    .nav-site .menu li {
      font-size: 1em;
      color: #FFFFFF; }
      /* line 85, ../sass/layout/_header.scss */
      .nav-site .menu li a {
        padding: 10px 15px;
        color: #FFFFFF;
        -webkit-transition: all 0.2s ease-in;
                transition: all 0.2s ease-in;
        display: block; }
        /* line 91, ../sass/layout/_header.scss */
        .nav-site .menu li a::after {
          content: "";
          display: block;
          margin: 10px auto 0;
          width: 50px;
          height: 2px;
          background-color: #31CDFF;
          opacity: 0; }
        /* line 100, ../sass/layout/_header.scss */
        .nav-site .menu li a.active {
          font-weight: bold; }
        /* line 103, ../sass/layout/_header.scss */
        .nav-site .menu li a:hover::after, .nav-site .menu li a.active::after {
          -webkit-animation: linebottom .2s forwards;
                  animation: linebottom .2s forwards; }
      /* line 107, ../sass/layout/_header.scss */
      .nav-site .menu li .ee-link-menu.active::after {
        background-color: #31CDFF; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
/* line 1, ../sass/layout/_footer.scss */
.footer-page {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #343434;
  color: #FFFFFF;
  padding: 15px 40px; }
  /* line 10, ../sass/layout/_footer.scss */
  .footer-page .social-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left; }
    /* line 13, ../sass/layout/_footer.scss */
    .footer-page .social-container .social-list li {
      margin-bottom: 0; }
    /* line 16, ../sass/layout/_footer.scss */
    .footer-page .social-container p {
      font-size: 0.85em;
      opacity: 0.8;
      margin: 0; }
  /* line 22, ../sass/layout/_footer.scss */
  .footer-page .copyright-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
    letter-spacing: 0; }
  /* line 28, ../sass/layout/_footer.scss */
  .footer-page .copyright {
    margin: 0; }
    /* line 33, ../sass/layout/_footer.scss */
    .footer-page .copyright a:first-child::before, .footer-page .copyright a:first-child::after {
      content: " - ";
      color: #FFF; }

/* line 42, ../sass/layout/_footer.scss */
.footer-1 .social-container p.copyright {
  font-size: 0.75rem;
  margin-top: 15px;
  letter-spacing: 0; }
/* line 47, ../sass/layout/_footer.scss */
.footer-1 .newsletter-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  letter-spacing: 1px; }
  /* line 53, ../sass/layout/_footer.scss */
  .footer-1 .newsletter-container .input-mail::after {
    display: none; }
/* line 58, ../sass/layout/_footer.scss */
.footer-1 .newsletter-txt {
  padding-right: 30px; }
  /* line 60, ../sass/layout/_footer.scss */
  .footer-1 .newsletter-txt p {
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 1.5; }
  /* line 65, ../sass/layout/_footer.scss */
  .footer-1 .newsletter-txt strong {
    font-size: 1.15rem;
    color: #31CDFF; }
/* line 71, ../sass/layout/_footer.scss */
.footer-1 .newsletter-form {
  width: 300px; }
  /* line 75, ../sass/layout/_footer.scss */
  .footer-1 .newsletter-form input[type="email"] {
    border-bottom-color: #31CDFF;
    background: transparent;
    border: 1px solid #31CDFF;
    padding: 8px;
    font-family: 'Lato';
    color: #FFF;
    font-size: .95rem;
    letter-spacing: 1px;
    border-radius: 12px; }
/* line 87, ../sass/layout/_footer.scss */
.footer-1 .submit-input {
  margin-left: 15px;
  border: 1px solid #31CDFF;
  background-color: #31CDFF;
  color: #FFF;
  font-family: "icons";
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
  /* line 98, ../sass/layout/_footer.scss */
  .footer-1 .submit-input:hover {
    cursor: pointer;
    background-color: transparent;
    color: #31CDFF; }

/* line 105, ../sass/layout/_footer.scss */
.newsletter-msg, .contact-message {
  font-size: .85rem;
  letter-spacing: 1px;
  display: block;
  margin-top: 5px; }
  /* line 110, ../sass/layout/_footer.scss */
  .newsletter-msg.ok, .contact-message.ok {
    color: #a4ee72; }
  /* line 113, ../sass/layout/_footer.scss */
  .newsletter-msg.nook, .contact-message.nook {
    color: #ed281f; }
  /* line 116, ../sass/layout/_footer.scss */
  .newsletter-msg:empty, .contact-message:empty {
    display: none; }

/* line 1, ../sass/layout/_grid.scss */
.full-section {
  width: 100%;
  height: 100vh; }

/* line 6, ../sass/layout/_grid.scss */
.container {
  width: 980px;
  max-width: 100%;
  padding: 20px;
  margin: auto; }

/* line 4, ../sass/layout/_splitscreen.scss */
#multiscroll .fullscreen {
  width: 200%; }
/* line 10, ../sass/layout/_splitscreen.scss */
#multiscroll .split-img .ms-tableCell {
  overflow: hidden;
  text-align: center; }
/* line 15, ../sass/layout/_splitscreen.scss */
#multiscroll .split-img img {
  height: 100%;
  margin: 0 -100%; }
/* line 21, ../sass/layout/_splitscreen.scss */
#multiscroll .split-txt {
  padding: 2vw;
  text-align: center;
  color: #343434; }

/* line 1, ../sass/pages/_home.scss */
.home-sct-entry {
  background: url("../img/pattern.png") repeat fixed 0 0/auto, url("../img/bg-home.jpg") no-repeat fixed center center/cover, url("../img/pattern.png"); }
  /* line 7, ../sass/pages/_home.scss */
  .home-sct-entry .slogan-txt {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 5vh; }

/* line 12, ../sass/pages/_home.scss */
.home-vertical-nav .point-list .p2 .bullets.active-point::before {
  background-color: #343434; }

/* MAP */
/* line 16, ../sass/pages/_home.scss */
.home-sct-map {
  position: relative; }

/* line 21, ../sass/pages/_home.scss */
.home-sct-split h2 {
  font-size: 1.75em;
  margin-bottom: 1rem; }

/* line 31, ../sass/pages/_home.scss */
.infos-contact {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 75px 40px 30px;
  background-color: #118BB2;
  color: #FFF; }
  /* line 41, ../sass/pages/_home.scss */
  .infos-contact h2::after {
    background-color: #FFFFFF; }
  /* line 45, ../sass/pages/_home.scss */
  .infos-contact address {
    margin: 1.75em 0; }
    /* line 47, ../sass/pages/_home.scss */
    .infos-contact address p {
      width: 50%;
      float: left;
      letter-spacing: 0;
      text-align: left;
      padding: 5px; }
  /* line 58, ../sass/pages/_home.scss */
  .infos-contact .social-list li {
    color: #FFFFFF; }

/* line 63, ../sass/pages/_home.scss */
#map {
  width: 100%;
  left: 0;
  height: 50%; }

/* line 68, ../sass/pages/_home.scss */
.split-form-contact {
  padding: 75px 30px 30px; }
  /* line 70, ../sass/pages/_home.scss */
  .split-form-contact h2::after {
    background-color: #118BB2; }

/* line 74, ../sass/pages/_home.scss */
.home-form {
  width: 540px;
  max-width: 100%;
  padding: 20px; }
  /* line 79, ../sass/pages/_home.scss */
  .home-form li {
    display: block; }
  /* line 83, ../sass/pages/_home.scss */
  .home-form .input-field input, .home-form .input-field select, .home-form .input-field textarea {
    color: #343434;
    font-size: 1rem;
    letter-spacing: 1px; }
  /* line 89, ../sass/pages/_home.scss */
  .home-form .contact-message {
    margin-top: 20px;
    color: #ed281f;
    font-weight: 600; }

/* line 1, ../sass/pages/_ds-home.scss */
.ds-sct-entry {
  background: url("../img/pattern.png") repeat fixed 0 0/auto, url("../img/bg-ds-home.jpg") no-repeat fixed center center/cover, url("../img/pattern.png"); }

/* line 7, ../sass/pages/_ds-home.scss */
.ds-footer .social-link {
  color: #31CDFF; }
/* line 10, ../sass/pages/_ds-home.scss */
.ds-footer .copyright-container a {
  color: #31CDFF; }
  /* line 14, ../sass/pages/_ds-home.scss */
  .ds-footer .copyright-container a:hover {
    color: #31CDFF; }

/*---------------------------------------------
$ RECRUTEMENT - STAFFING PAGE
----------------------------------------------*/
/* line 5, ../sass/pages/_recrutement.scss */
.er-sct {
  background: url("../img/bg-ds-home.jpg") no-repeat fixed 0% 0%/cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

/* line 11, ../sass/pages/_recrutement.scss */
.er-container {
  position: relative;
  width: 980px;
  min-height: 400px;
  max-width: 100%;
  padding: 20px;
  overflow: hidden;
  border-radius: 40px;
  background-color: #FFFFFF;
  color: #343434;
  text-align: left;
  letter-spacing: 0; }
  /* line 25, ../sass/pages/_recrutement.scss */
  .er-container li {
    display: block; }

/* line 30, ../sass/pages/_recrutement.scss */
#countdown {
  position: absolute;
  bottom: 0px;
  right: 5px;
  z-index: 60;
  display: none;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
  /* line 39, ../sass/pages/_recrutement.scss */
  #countdown.active {
    display: block; }

/*
  # SCREEN 1
*/
/* line 47, ../sass/pages/_recrutement.scss */
.er-screen-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: auto; }

/* line 50, ../sass/pages/_recrutement.scss */
.er-indication {
  width: 50%;
  padding: 40px 20px 40px 40px;
  font-size: 12px; }
  /* line 54, ../sass/pages/_recrutement.scss */
  .er-indication h1::after {
    display: none; }
  /* line 57, ../sass/pages/_recrutement.scss */
  .er-indication p, .er-indication ul, .er-indication ol {
    font-size: 1.25em; }
  /* line 60, ../sass/pages/_recrutement.scss */
  .er-indication .warning {
    font-weight: bold;
    color: #118BB2; }

/* line 66, ../sass/pages/_recrutement.scss */
.er-infos-form {
  width: 50%;
  padding: 40px 40px 40px 20px; }
  /* line 70, ../sass/pages/_recrutement.scss */
  .er-infos-form .infos {
    font-size: 0.9rem;
    color: #118BB2;
    margin-top: 10px; }

/* line 76, ../sass/pages/_recrutement.scss */
.start-btn-container {
  text-align: right; }

/*
  # QUESTIONS SCREEN
*/
/* line 84, ../sass/pages/_recrutement.scss */
.quizz-form {
  width: 100%;
  height: 100%;
  display: block; }

/* line 89, ../sass/pages/_recrutement.scss */
[class^="er-screen-"].screen-out {
  -webkit-animation: screen_out 0.3s ease-out forwards;
          animation: screen_out 0.3s ease-out forwards; }

/* line 93, ../sass/pages/_recrutement.scss */
.question-screen {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0; }
  /* line 102, ../sass/pages/_recrutement.scss */
  .question-screen h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 0 2rem;
    letter-spacing: 2px;
    text-align: center; }
    /* line 109, ../sass/pages/_recrutement.scss */
    .question-screen h2::after {
      content: "";
      display: block;
      margin: 10px auto 0;
      width: 30px;
      height: 2px;
      background-color: #31CDFF; }
  /* line 119, ../sass/pages/_recrutement.scss */
  .question-screen .er-answer-list li {
    margin-bottom: 5px;
    padding: 10px 20px;
    border: 1px solid #31CDFF;
    text-align: center;
    border-radius: 13px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease; }
    /* line 128, ../sass/pages/_recrutement.scss */
    .question-screen .er-answer-list li label {
      -webkit-transition: all 0.2s ease;
              transition: all 0.2s ease;
      cursor: pointer; }
    /* line 133, ../sass/pages/_recrutement.scss */
    .question-screen .er-answer-list li:hover {
      background-color: #31CDFF; }
      /* line 136, ../sass/pages/_recrutement.scss */
      .question-screen .er-answer-list li:hover label {
        color: #FFFFFF; }
    /* line 140, ../sass/pages/_recrutement.scss */
    .question-screen .er-answer-list li input[type="radio"] {
      opacity: 0; }
  /* line 144, ../sass/pages/_recrutement.scss */
  .question-screen.screen-in {
    -webkit-animation: screen_in 0.3s ease-out forwards;
            animation: screen_in 0.3s ease-out forwards; }
  /* line 148, ../sass/pages/_recrutement.scss */
  .question-screen .question-container {
    padding: 20px 40px;
    margin: auto;
    text-align: center; }

/* line 154, ../sass/pages/_recrutement.scss */
.confirm-screen {
  z-index: 5; }

/* line 158, ../sass/pages/_recrutement.scss */
.er-screen-6 img {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease; }
/* line 162, ../sass/pages/_recrutement.scss */
.er-screen-6 li:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%); }

/* line 166, ../sass/pages/_recrutement.scss */
[class^="msg-"]:empty {
  display: none; }

/* line 1, ../sass/pages/_entrepreneur.scss */
.ee-sct-entry {
  background: url("../img/entreprise/bg-entreprise.jpg") no-repeat fixed right center/cover; }
  /* line 4, ../sass/pages/_entrepreneur.scss */
  .ee-sct-entry .ee-slogan-container {
    width: 100%;
    text-align: left;
    padding-left: 60px; }
    /* line 10, ../sass/pages/_entrepreneur.scss */
    .ee-sct-entry .ee-slogan-container h1, .ee-sct-entry .ee-slogan-container .slogan-title {
      font-size: 2.6em; }
      /* line 12, ../sass/pages/_entrepreneur.scss */
      .ee-sct-entry .ee-slogan-container h1 span, .ee-sct-entry .ee-slogan-container .slogan-title span {
        font-size: 1.5em; }
      /* line 15, ../sass/pages/_entrepreneur.scss */
      .ee-sct-entry .ee-slogan-container h1::after, .ee-sct-entry .ee-slogan-container .slogan-title::after {
        border-bottom: 4px solid #31CDFF;
        margin: 20px 0 0; }
    /* line 21, ../sass/pages/_entrepreneur.scss */
    .ee-sct-entry .ee-slogan-container .ee-slogan-box {
      display: inline-block;
      width: 730px;
      max-width: 100%; }
      /* line 25, ../sass/pages/_entrepreneur.scss */
      .ee-sct-entry .ee-slogan-container .ee-slogan-box p {
        font-size: 1.1em;
        margin-bottom: .75em; }

/* line 33, ../sass/pages/_entrepreneur.scss */
.vertical-nav .ee-point-list .bullets:hover::before, .vertical-nav .ee-point-list .bullets.active-point::before {
  background-color: #000; }

/* line 36, ../sass/pages/_entrepreneur.scss */
.ee-sct-avantage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 50px 0; }
  /* line 44, ../sass/pages/_entrepreneur.scss */
  .ee-sct-avantage .article-avantage {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 40px 65px;
    text-align: left; }
    /* line 52, ../sass/pages/_entrepreneur.scss */
    .ee-sct-avantage .article-avantage h2::after {
      display: none; }
    /* line 57, ../sass/pages/_entrepreneur.scss */
    .ee-sct-avantage .article-avantage:nth-child(2) {
      text-align: right; }
    /* line 62, ../sass/pages/_entrepreneur.scss */
    .ee-sct-avantage .article-avantage .avantage-txt {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    /* line 65, ../sass/pages/_entrepreneur.scss */
    .ee-sct-avantage .article-avantage .avantage-img {
      -webkit-box-flex: 0;
      -webkit-flex: 0;
          -ms-flex: 0;
              flex: 0;
      padding: 0 60px; }
      /* line 68, ../sass/pages/_entrepreneur.scss */
      .ee-sct-avantage .article-avantage .avantage-img img {
        width: 180px; }

/* line 76, ../sass/pages/_entrepreneur.scss */
.ee-sct-cite {
  background: url("../img/pattern.png") repeat fixed 0 0/auto, url("../img/entreprise/bg-winner.jpg") no-repeat fixed center top/cover;
  padding: 100px 30px; }
  /* line 80, ../sass/pages/_entrepreneur.scss */
  .ee-sct-cite .article-citation {
    color: #FFFFFF;
    font-size: 1.25em;
    width: 980px;
    margin: auto; }
    /* line 86, ../sass/pages/_entrepreneur.scss */
    .ee-sct-cite .article-citation p:first-child {
      font-weight: 400; }
      /* line 88, ../sass/pages/_entrepreneur.scss */
      .ee-sct-cite .article-citation p:first-child::after {
        content: "";
        display: block;
        width: 40px;
        margin: 10px auto 20px;
        height: 2px;
        background-color: #FFF; }
