//Helper to clear inner floats
%clearfix  {
    content: '';
    display: table;
    clear: both;
}

//Inline block and verticla align
%inline-block-t {
     display: inline-block;
     vertical-align: top;
}
%inline-block-m {
    display: inline-block;
    vertical-align: middle;
}
%inline-block-t {
    display: inline-block;
    vertical-align: bottom;
}
%black-link {
  a, a:visited {
    color: $color-iv-2;
  }
}

%split-child {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%ds-color {
  color: $color-iv-2;
}
%ds-bgcolor {
  background-color: $color-iv-2;
}
%ee-color {
  color: $color-iv-3;
}
%ee-bgcolor {
  background-color: $color-iv-3;
}
%afterh2 {
    content: "";
    display: block;
    margin: 10px auto 0;
    width: 30px;
    height: 2px;
}