//HELPERS FORM

.col-2 {

  &::after {
    @extend %clearfix;
  }

 .input-field {
    float: left;
    width: 45%;

   &:first-child {
     margin-right: 2.5%;
   }
   &:last-child {
     margin-left: 2.5%;
   }
  }
}
.input-field {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-top: 20px;
  margin-bottom: 8px;

  & + span {
    font-weight: 500;
    font-size: 0.75rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {

    width: 100%;
    display: block;
    padding: 0px 30px 5px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $color-black;
    background-color: transparent;
    font-size:1rem;
    position: relative;
    z-index: 2;

    &:focus {
     border-bottom: 2px solid $color-iv-1;
      outline: none;
   }
    &:focus + .label-field, & + .label-field.active {
      transform: translateY(-150%);
      font-size: 0.75rem;
      letter-spacing: 0;
      color: $color-iv-1;
    }
  }

  .label-field {
    position: absolute;
    z-index: 1;
    bottom: 6px;
    left: 0px;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 0.7;
    font-size: 1rem;
    cursor: text;
    transition: all 0.2s ease-out;
  }

}