//COLORS

//Principal colors
$color-black : #181818;
$color-white : #FFFFFF;
$color-iv-1 : #118BB2;
$color-iv-2: #31CDFF;
$color-iv-3: #FF4B7C;

//Social colors
$color-facebook: #3B5998;
$color-linkedin: #1DA1F2;
$color-twitter: #0077B5;