.home-sct-entry {
  background:
          url("../img/pattern.png") repeat fixed 0 0 /auto,
          url("../img/bg-home.jpg") no-repeat fixed center center/cover, url("../img/pattern.png")
  ;

  .slogan-txt {
    text-shadow: 0 0 4px rgba(0,0,0,0.8);
    margin-bottom: 5vh;
  }
}
/* MAP */
.home-sct-map {
  position: relative;
}
.home-sct-map h2 {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #31CDFF;
  color: #FFF;
  font-size: 2em;
  text-align: center;
  padding: 8vh 50px;
  margin: 0;
}
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}